body, h1, h2, p, figure {
    margin: 0;
    padding: 0;
}

/* General styles for the page */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
}

.responsiveimg {
    border-radius: 10px;

    width: auto;
    height: auto;
}
/* Container styles */

.container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "hd hd"
    "sd main"
    "ft ft";
    border: 2px solid yellow;
}

/* Header styles */
.header {
    grid-area: hd;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-bottom: 1px solid #1c1a1a;
    padding: 20px;
}

/* Sidebar styles */
.sidebar {
    grid-area: sd;
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}
.sidebar h2 {
    margin-bottom: 10px;
}

.sidebar a {
    display: block;
    color: black;
    padding: 8px 0;
    text-decoration: none;
}

.sidebar a.active {
    background-color: #04AA6D;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

/* Content styles */
.content {
    grid-area: main;
    padding: 20px;
}

header {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
}

.section {
    padding: 50px;
}

.section h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.section p {
    color: #666;
    line-height: 1.5;
}

.section figure {
    max-width: 100%;
    margin-bottom: 20px;
}

.section .recipe {
    background-color: #f8f8f8;
    padding: 20px;
}

.section .recipe h3 {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
}

.section .recipe p {
    color: #666;
    line-height: 1.5;
}


.social-media {
    margin-top: 20px;
    text-align: center;
}
.social-media a {
    display: inline-block;
    margin-right: 10px;
}
/* Footer styles */
.footer {
    grid-area: ft;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-top: 1px solid #1c1a1a;
    padding: 20px;
}

/* Media queries */
@media (max-width: 900px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
          "hd"
          "sd"
          "main"
          "ft";
    }
    .responsiveimg {
        border-radius: 10px;

        max-width: 100%;
        display: block;
        height: auto;
    }

    .header,
    .footer {
        justify-content: center;
    }

    .content {
        justify-content: center;
    }
}